<div class="alert alert-info">
  <p>You are able to manage a limited number of scripts whose content can resemble:</p>
  <ul>
    {% for iframe_src_prefix in iframe_src_prefixes %}
      <li>
        <code>{{ '<iframe src="' ~ iframe_src_prefix ~ '..."></iframe>' }}</code>
      </li>
    {% endfor %}

    {% for script_src_prefix in script_src_prefixes %}
      <li>
        <code>{{ '<script src="' ~ script_src_prefix ~ '..."></script>' }}</code>
      </li>
    {% endfor %}
  </ul>
  <p>If you can't edit a script below, it means its content doesn't meet the whitelist.</p>
</div>
